@import '../../styles/variables';

.Landing {
  h1 {
    font-size: 25px;
    color: $colorDarkBlue;
  }

  &__block {
    padding-top: 60px;
    width: 100%;
    height: 400px;
    background-color:$colorWhite;
  }

  &__block-blue {
    background-color: $colorBWhite;
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 10;
  }

  &__block-orange {
    background-color: $colorYellow;
    width: 100%;
    height: 350px;
    position: relative;
  }

  &__circles {
    width: 100%;
    height: 10px;
    position: absolute;
    margin-top: -25px;
    display: flex;
    justify-content: center;

    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $colorDarkCoral;

      &__color {
        width: 100%;
        height: 50%;
        background-color: $colorCoral;
        border-radius: 50px 50px 0 0;
      }
      &:nth-child(2) {
        margin-right: 30px;
        margin-left: 30px;
      }
    }
  }

  .title {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 25px;
      margin-top: 5px;
      font-weight: 500;
      color: $colorDarkBlue;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 50px;
      border-radius: 20px;
    }

    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
      border-radius: 10px;
      margin-top: 100px;

      .title__span {
        font-size: 22px;
        font-weight: 700;
      }

      .FBlogo {
        width: 100px;
      }

      .start {
        width: 250px;
        height: 70px;
        border-radius: 5px;
        font-size: 25px;
        font-weight: 900;
        background-color: $colorBlue;
        box-shadow: 5px 5px 0 0 $colorDarkBlue;
        transition: all 0.5s;
        color: $colorWhite;
        margin-top: 30px;

        &:hover {
          box-shadow: none;
        }
      }
    }

    .google {
      background-color: $colorCoral;
      outline: none;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      color: $colorWhite;
      font-weight: 700;
      font-size: 22px;
      box-shadow: 5px 5px 0 0 $colorDarkCoral;
      transition: all 0.5s;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .title.FB {
    padding-top: -0px;
  }
}

@media screen and (min-width: 600px) {
  .circle {
    &:nth-child(2) {
      margin-right: 80px !important;
      margin-left: 80px !important;
    }
  }
}