$colorCoral: #0db2c0;
$colorDarkCoral: #0e96a5;

$colorBlue: #285772;
$colorDarkBlue: #062c3d;

$colorWhite: #fff;
$colorBWhite: #dff4ff;
$colorDBWhite: rgba(0, 0, 0, 0.04);

$colorYellow:#fec107;
$colorDarkYellow: #f99c16;

$colorBlack: #2d2d2d;