@import '../../../styles/variables';

.Button {
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
  height: 25px;
  background-color: $colorYellow;
  box-shadow: 3px 3px 1px 1px $colorDarkBlue;
  transition: all 0.5s;

  &:hover {
    box-shadow: none;
  }
}