@import '../../styles/variables';

.Footer {
  background-color: $colorBlue;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 30px;

    span {
      color: $colorWhite;
      border-bottom: 1px solid $colorDarkBlue;
      padding: 5px;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 750px) {
  .Footer {
    &__container {
      padding: 0 150px !important;
    }
  }
}