@import '../../styles/variables';

.Registration {
  width: 100%;
  height: Calc(100vh - 121px);
  background-color: $colorDarkBlue;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $colorDarkBlue;
    margin-bottom: 30px;
  }

  &__block {
    width: 400px;
    min-width: 310px;
    background-color: $colorBlue;
    border-radius: 5px;
    margin: 5px;
    padding: 60px 20px;
  }
}